*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: beige;
    outline:none;


}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    background-color: bisque;
    padding:0;
    border-radius:30px;
    box-shadow:inset  5px spx 12px #fff,
    5px spx 12px royalblue(0,0,0,.16);
    display:grid;
    grid-template-columns: repeat(5,50px);

}
input{
    grid-column: span 5;
    height:70px;
    width: 250px;
    background-color: #fff;
    box-shadow: inset -5px -5px 12px #fff,
    inset 5px 5px 12px rgba(red, green, blue, alpha);
    border:none;
    border-radius: 30px;
    color: rgba(red, green, alpha);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;



}
button{
    height: 60px;
    width: 40px;
    background-color: aliceblue;
    box-shadow: -5px,-5px,12px #fff,
    5px,5px,12px rgba( green, blue, alpha);
    border: none;
    border-radius: 50px;
    margin: 8px;
    font-size: 30px;

}
.equ{
    width: 170px;
    width: 40px;
    background-color: aliceblue;
    box-shadow: -5px,-5px,12px #fff,
    5px,5px,12px rgba( green, blue, alpha);
}

